<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PRUEBA</title>
</head>
<body>
	<center>
		<h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1>
		<h1>ELECTRONICA Y TELECOMUNICACIONES</h1>
		<h4>INGRESE PIN</h4>
		<input type="text" id="contrasena">
		<h2>
			<button id = 'validar' type="button" onclick="entrar();">ESTADO SENSORES</button>
		</h2>
		<h3>Sensor 1: <ul id="s1"></ul> </h3>
		<h3>Sensor 2: <ul id="s2"></ul> </h3>
		<h1>
		<h3><ul id="aviso"></ul></h3>
		<button id = 'cambiar' type="button" onclick="cambio();">CAMBIAR PASSWORD</button>
		</h1>
		<h3>
		<button id = 'hist' type="button" onclick="historial();">HISTORIAL SENSORES</button>
		</h3>
		<p>
			<ul id="verhist"></ul><br/>
		</p>
	</center>
</body>
</html>
